# Environment
.env

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Python
__pycache__/
*.pyc

# dbt
target/
dbt_packages/
profiles.yml
logs/

# OS
.DS_Store

# Virtual environment
.venv/

# Lambda build artifacts
lambda/*.zip
lambda/streaming/package/

# Terraform secret vars
terraform/terraform.tfvars
