openaq_transform:
  target: dev
  outputs:
    dev:
      type: athena
      s3_staging_dir: s3://openaq-pipeline-thanhtrung102/dbt-staging/
      database: AwsDataCatalog
      schema: openaq_mart
      region_name: ap-southeast-1
      work_group: openaq_workgroup
      aws_access_key_id: "your_access_key_id"
      aws_secret_access_key: "your_secret_access_key"
